<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}! <i class="fa fa-check"></i>
  </h1>
  
</div>
<button class="btn btn-primary">Test Button</button>